<!DOCTYPE html>
<html lang="en">
<head>
    <title>Following List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/following_list.css' %}">
</head>
<script src="{% static 'users/js/follow.js' %}"></script>
<body>
    <h2>Following of {{ user.name }}</h2>
    <ul>
        {% for following in following %}
            <li>
                <div class="following-item">
                    <!-- Display profile picture -->
                    <div class="profile-pic">
                        {% if following.profile_pic %}
                            <img src="{{ following.profile_pic.url }}" alt="{{ following.name }}'s Profile Picture" width="40" height="40">
                        {% else %}
                            <img src="{% static 'users/images/default-profile.png' %}" alt="Default Profile" width="40" height="40">
                        {% endif %}
                    </div>
                    <!-- Display name and follow/unfollow button -->
                    <div class="following-info">
                        <a href="{% url 'user-profile' following.username %}">{{ following.name }}</a>
                        {% if request.user != following %}
                            <form action="{% url 'follow-user' following.id %}" method="POST" style="display:inline;">
                                {% csrf_token %}
                                {% if following in request.user.following.all %}
                                    <button type="submit">🚫Unfollow</button>
                                {% else %}
                                    <button type="submit">➕Follow</button>
                                {% endif %}
                            </form>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'profile' %}" class="back-link">Back to Profile</a>
</body>
</html>
