<!DOCTYPE html>
<html lang="en">
<head>
    <title>Following List</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'users/following_list.css' %}">

</head>
<script src="{% static 'users/js/follow.js' %}"></script>
<body>
    <h2>Following of {{ user.name }}</h2>
    <ul>
        {% for following in following %}
            <li>
                <a href="{% url 'user-profile' following.username%}">{{ following.name }}</a>
                {% if request.user != following %}
                    <form action="{% url 'follow-user' following.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        {% if following in request.user.following.all %}
                            <button type="submit">🚫Unfollow</button>
                            {% else %}
                            <button type="submit">➕Follow</button>
                        {% endif %}
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'profile' %}">Back to Profile</a>
</body>
</html>
