<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/signp.css' %}">
</head>
<body>
    <h2>User Signup</h2>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</body>
</html>
