{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'posts/inbox.css' %}">
<h2>Inbox</h2>
<ul>
    {% for msg in messages %}
    <li>
        <strong>{{ msg.sender.username }} ➝ {{ msg.receiver.username }}:</strong> {{ msg.content }}<br>
        <small>{{ msg.timestamp }}</small><br>

        <!-- Reply link -->
        <a href="{% url 'send-message' msg.sender.id %}">Reply</a>
    </li>
    <hr>
    {% empty %}
    <li>No messages</li>
    {% endfor %}
</ul>
{% endblock %}
