{% extends 'posts/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'posts/post_detail.css' %}">
{% block extra_css %}
{% endblock %}
    <div class="container">
        <h2>Post by <a href="{% url 'user-profile' post.user.username %}" class="username-link">{{ post.user.username }}</a></h2>
        <p>{{ post.content }}</p>
        
        {% if post.image %}
    <img src="{{ post.image.url }}" alt="Post Image" 
         style="max-width: 100%; height: auto; filter: {{ post.filter }};">
{% endif %}

{% if post.video %}
    <video width="400" controls style="filter: {{ post.filter }};">
        <source src="{{ post.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
{% endif %}
        
        <p>Created at: {{ post.created_at }}</p>
        <a href="{% url 'post-list' %}" class="back-button">Back to Posts</a>

        <hr>

        <!-- Comment Section -->
        <h3>Comments ({{ comments|length }})</h3>
        {% for comment in comments %}
            <div class="comment">
                <p><strong>Comment:</strong> {{ comment.content }}</p>
                <p><strong>User:</strong> <a href="{% url 'user-profile' comment.user.username %}" class="username-link">{{ comment.user }}</a></p>
            </div>
        {% empty %}
            <p>No comments found.</p>
        {% endfor %}

        <!-- Add Comment Form -->
        <form method="post" action="{% url 'add-comment' post.id %}" class="add-comment-form">
            {% csrf_token %}
            <textarea name="content" placeholder="Write a comment..." required></textarea>
            <button type="submit" class="btn">Add Comment</button>
        </form>
    </div>
{% endblock %}
