{% extends 'base.html' %}
{% block content %}
<h2>Reported Reels</h2>
<table border="1" cellpadding="8">
    <tr>
        <th>User</th>
        <th>Reel ID</th>
        <th>Reason</th>
        <th>Date</th>
    </tr>
    {% for report in reports %}
    <tr>
        <td>{{ report.user.username }}</td>
        <td><a href="{% url 'reel-detail' report.reel.id %}">Reel {{ report.reel.id }}</a></td>
        <td>{{ report.reason }}</td>
        <td>{{ report.created_at }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
